/* For flat header bars that don't look weird */
.flat-navigation-view > dimming {
    opacity: 0;
}

.flat-navigation-view > shadow {
	background: radial-gradient(farthest-side at right, rgba(0,0,0,.08) 0%, rgba(0,0,0,0) 100%);
}

.item-thumbnail {
    border-radius: 9px;
}

.small-thumbnail {
    border-radius: 6px;
}

.hyperplane-grid-view {
    padding: 15px;
    border-spacing: 12px;
}

/*
Padding hack from
https://github.com/GNOME/nautilus/blob/e2f7070feb19c7ec9d0f43d9721f446a82072281/src/resources/style.css#L175
*/
.hyperplane-column-view {
    padding: 0px 12px;
}
.hyperplane-column-view > listview {
    padding: 6px 0px 12px 0px;
    border-spacing: 9px;
    margin-left: -12px;
    margin-right: -12px;
}
.hyperplane-column-view > listview > row {
    border-radius: 6px;
    margin-left: 12px;
    margin-right: 12px;
}

rubberband {
    border-radius: 6px;
}

/* Stolen from Nautilus with some modifications */
.path-bar {
    background-color: alpha(currentColor, 0.1);
    border-radius: 6px;
}
.path-bar > undershoot.left {
    background: linear-gradient(to right, alpha(@headerbar_shade_color, 0.5) 6px, alpha(@headerbar_shade_color, 0) 32px);
    border-left: solid 1px @borders;
    border-radius: 6px 0px 0px 6px;
}
.path-bar > undershoot.right {
    background: linear-gradient(to left, alpha(@headerbar_shade_color, 0.5) 6px, alpha(@headerbar_shade_color, 0) 32px);
    border-right: solid 1px @borders;
    border-radius: 0px 6px 6px 0px;
}
.path-bar > viewport > box > revealer > button {
    padding: 2px 9px;
    margin: 3px;
    border-radius: 4px;
}

.inactive-segment {
    opacity: 0.5;
    transition-duration: 0.2s;
}

.inactive-segment:hover {
    opacity: 1;
}

/* Darken thumbnails so pure white images don't look weird */
.thumbnail-picture {
    filter: brightness(.97);
}

.file-extension {
    padding: 2px 5px;
    font-weight: 700;
    border-radius: 4px;
    font-size: small;
}

.cut-item {
    filter: opacity(50%);
}

.sidebar-drop-target {
    border-bottom: @accent_bg_color 3px solid;
}

.sidebar-check-button > check {
    color: @sidebar_fg_color;
    background-color: @sidebar_shade_color;
}

.play-button {
    color: white;
    background-image: radial-gradient(circle closest-side, alpha(black, .1), transparent);
}

.circular-box {
    border-radius: 50%;
}

.circular-icon {
    border-radius: 50%;
    padding: 16px;
}

.sidebar-button {
    border-radius: 50%;
    padding: 2px;
}

/* Remove the top margin since the header bar provides enough already */
.properties-page > scrolledwindow > viewport > clamp > box {
    margin-top: 0;
}

.bg-text-view > text {
    background-color: @window_bg_color;
}


.white-background { background: @light_1; }
.white-icon { color: @light_1; }

.dark-blue-background { background: @blue_5; }
.light-blue-background { background: @blue_3; }

.blue-background { background: alpha(@blue_1, 0.5); }
.blue-solid-background { background: shade(@blue_1, 1.1); }
.blue-icon { color: @blue_5; }
.blue-icon-light-only { color: @blue_5; }
.blue-extension { background: @blue_5; color: @light_1; }
.blue-extension-thumb { background: @blue_5; color: @light_1; }

.green-background { background: alpha(@green_1, 0.5); }
.green-solid-background { background: shade(@green_1, 1.1); }
.green-icon { color: @green_5; }
.green-icon-light-only { color: @green_5; }
.green-extension { background: @green_5; color: @light_1; }
.green-extension-thumb { background: @green_5; color: @light_1; }

.yellow-background { background: alpha(@yellow_1, 0.5); }
.yellow-solid-background { background: shade(@yellow_1, 1.1); }
.yellow-icon { color: @yellow_5; }
.yellow-icon-light-only { color: @yellow_5; }
.yellow-extension { background: @yellow_5; color: @light_1; }
.yellow-extension-thumb { background: @yellow_5; color: @light_1; }

.orange-background { background: alpha(@orange_1, 0.5); }
.orange-solid-background { background: shade(@orange_1, 1.1); }
.orange-icon { color: @orange_5; }
.orange-icon-light-only { color: @orange_5; }
.orange-extension { background: @orange_5; color: @light_1; }
.orange-extension-thumb { background: @orange_5; color: @light_1; }

.red-background { background: alpha(@red_1, 0.5); }
.red-solid-background { background: shade(@red_1, 1.1); }
.red-icon { color: @red_5; }
.red-icon-light-only { color: @red_5; }
.red-extension { background: @red_5; color: @light_1; }
.red-extension-thumb { background: @red_5; color: @light_1; }

.purple-background { background: alpha(@purple_1, 0.5); }
.purple-solid-background { background: shade(@purple_1, 1.1); }
.purple-icon { color: @purple_4; }
.purple-icon-light-only { color: @purple_4; }
.purple-extension { background: @purple_4; color: @light_1; }
.purple-extension-thumb { background: @purple_4; color: @light_1; }

.gray-background { background: alpha(@light_4, 0.5); }
.gray-solid-background { background: shade(@light_4, 1.1); }
.gray-icon { color: @dark_2; }
.gray-icon-light-only { color: @dark_2; }
.gray-extension { background: @dark_2; color: @light_1; }
.gray-extension-thumb { background: @dark_2; color: @light_1; }
