.blue-icon { color: @blue_1; }
.blue-background { background: alpha(@blue_5, 0.5); }
.blue-extension { background: @blue_1; color: @dark_5; }

.green-icon { color: @green_1; }
.green-background { background: alpha(@green_5, 0.5); }
.green-extension { background: @green_1; color: @dark_5; }

.yellow-icon { color: @yellow_1; }
.yellow-background { background: alpha(@yellow_5, 0.5); }
.yellow-extension { background: @yellow_1; color: @dark_5; }

.orange-icon { color: @orange_1; }
.orange-background { background: alpha(@orange_5, 0.5); }
.orange-extension { background: @orange_1; color: @dark_5; }

.red-icon { color: @red_1; }
.red-background { background: alpha(@red_5, 0.5); }
.red-extension { background: @red_1; color: @dark_5; }

.purple-icon { color: @purple_1; }
.purple-background { background: alpha(@purple_5, 0.5); }
.purple-extension { background: @purple_1; color: @dark_5; }

.gray-icon { color: @light_3; }
.gray-background { background: alpha(@dark_2, 0.5); }
.gray-extension { background: @light_4; color: @dark_5; }

.thumbnail-picture {
    filter: initial;
}

navigation-view > shadow {
	background: radial-gradient(farthest-side at right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%);
}